<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <title>{% block title %}UniHive - UWaterloo Forum{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <meta name="csrf-token" content="{{ csrf_token }}">
    
    </head>
    <body>
        <nav class="bg-black text-white">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex-shrink-0">
                        <a href="/">
                            <img src="{% static 'media/Logo.png' %}" alt="UniHive Logo" class="h-10">
                        </a>
                    </div>

                    <div class="flex lg:hidden">
                        <div class="flex items-center space-x-4">
                            <a href="{% url 'posts' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Posts</a>
                            <a href="{% url 'maps' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Map</a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'create_post' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Create</a>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Logout</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Sign In</a>
                                <a href="{% url 'register' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Register</a>
                            {% endif %}
                        </div>
                    </div>
    
                    <div class="hidden lg:flex lg:items-center lg:space-x-4">
                        <a href="{% url 'posts' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Posts</a>
                        <a href="{% url 'maps' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Map</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'create_post' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Create</a>
                        {% endif %}
                        <a href="{% url 'following' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Following</a>
                        <a href="https://github.com/chezeng/UniHive" target="_blank" rel="noopener noreferrer"
                            class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">GitHub</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Sign In</a>
                            <a href="{% url 'register' %}" class="px-3 py-2 rounded-md text-sm font-medium hover:text-yellow-500 text-white">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>