<div class="welcome-container">
    <div class="welcome-text">
      <h1 class="main-heading">Welcome to UniHive</h1>
      <div class="dynamic-words">
        <span class="word">Safe</span>
        <span class="word">Credible</span>
        <span class="word">Verified</span>
        <span class="word">Engaging</span>
      </div>
      <p>Your platform for formal discussions at the University of Waterloo.</p>
  
      <div class="button-container">
        <button class="btn" (click)="onPreview()">Preview Forum</button>
        <button class="btn btn-primary" (click)="onRegister()">Register as UW Student</button>
      </div>
    </div>
  </div>
  